body {
    display: flex;
    justify-content: center;
    background-color: azure;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: auto;
    width: 320px;
    border: 1px solid black;
    background-color: lightgray;
}

.history {
    height: 16px;
}

.history, .display {
    display: flex;
    justify-content: right;
    margin: 8px;
    padding: 8px;
}

.display {
    border: 1px solid black;
}

.utility, .mathfunc, .sevennine,
.foursix, .onethree, .zeroequal {
    display: flex;
    justify-content: space-between;
}

button {
    margin: 8px;
    padding: 8px;
    flex: 1;
}

.sign, .dot {
    background-color: brown;
    color: white;
}

.clear {
    background-color: black;
    color: white;
}

.back {
    background-color: red;
}

.invert, .square, .root {
    background-color: yellow;
}

.num {
    background-color: skyblue;
}

.div, .mult, .sub, .addition {
    background-color: orange;
}

.eval {
    background-color: green;
    color: white;
}